version: '3.2'

services:
  proxy:
    image: traefik:1.6-alpine
    networks:
      - net
    ports:
      - "8080:8080"
      - "80:80"
      - "443:443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - $PWD/traefik.toml:/traefik.toml
      - $PWD/acme.json:/acme.json

    deploy:
      restart_policy:
        condition: on-failure

networks:
  net:
    driver: overlay
